body,
button,
input,
select,
textarea {
    font-family: 'Open Sans', sans-serif;
    color: $color;
}

/* MEDIA -------------------------------------------------------------------- */

img {
    max-width: 100%;
}